/* ===============================================
THIS IS A FICTIONAL WEBSITE FOR TRAINING PURPOSE 
================================================ */

/* ===============================================
            WEBSITE COLOUR SCHEME 
================================================ */

/*First colour: rgba(195, 168, 255, 1);
Second colour: rgba(44, 31, 61, 1);
Third colour: rgba(55, 42, 71, 1); variations of opacity
Fourth colour: #444; for main content and headings*/

/* ===============================================
    MOBILE DEFAULT STYLES - GLOBAL STYLES
================================================ */

/*Prevent adjustments of font size after orientation change in IE on Windows phone and in IOS*/

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*Apply a natural box model layout to all elements*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*Clearfix force an element not to collapse*/

.clearfix: after {
    content: "";
    display: table;
    clear: both;
}

/*All images and video will have 100% width of their parent container*/

img, video {
    width: 100%;
}

body {
    font-family: 'Ek Mukta', sans-serif; 
    font-size: 16px;
    color: #444;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

container {
    width: 80%;
    height: 100%;
    margin: 100px auto;
}

/* ===============================================
                HOME STYLES
================================================ */

.homeBgImage {
    position: relative;
    background-image: url(../img/trainerHomePage.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgba(53, 38, 80, 0.8);
}

.logoC {
    position: absolute;
    width: 45px;
    top: 3px;
    left: 10px;
    position: fixed;
    z-index: 110;
}

.cartIcon {
    top: 15px;
    left: 45vw;
    width: 45px;
    z-index: 115;
    position: fixed;
}

.fa-shopping-basket {
    font-size: 2em;
    color: rgba(194, 166, 255, 0.7);
}

.navC {
    color: white;
    height: auto;
    width: 100%;
    background-color: rgba(44, 31, 61, 1);
    position: fixed;
    border-bottom: 2px solid rgba(194, 166, 255, 0.2);
    z-index: 100;
}

.navBtn {
    font-size: 2.5em;
    display: block;
    width: 20%;
    margin: 0 4vw 0 73vw;
    padding: 7px 3%;
    text-align: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    
}

ul.menu-items {
    padding: 0;
    margin: 0;
}

nav li a, nav li {
    color: white;
    opacity: 1;
    width: 100%;
    margin: 0%;
    padding: 0%;
    float: none;
    display: block;
    outline-style: none;
    text-decoration: none;
}

.menu-items a {
    padding: 15px 5vw 15px 0;
    color: white;
    text-align: right;
}

.menu-items li {
    border-top: 3px solid rgba(194, 166, 255, 0.2);
}

.menu-items, .viewCart, .shoppingB, .hand, .textSales {
    display: none;
}

.mainHeading {
    font-family: 'Lovers Quarrel', cursive;
    letter-spacing: 3px;
    font-size: 2em;
    text-align: center;
    display: block;
    margin: 40vh auto 0 auto;
    color: rgba(255, 255, 255, 1);
    
}

.newCollectionB {
    color: white;
    padding: 15px 20px;
    display: block;
    margin: 2vh auto 15vh auto;
    background-color: rgba(194, 166, 255, 0.2);
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 1);
}

.actionB a {
    text-decoration: none;
}





/* ===============================================
    MOBILE STYLES - 568 SCREEN RESOLUTION
================================================ */

@media screen and (min-width: 568px) {
    
}

/* ===============================================
    TABLET STYLES - 768 SCREEN RESOLUTION
================================================ */

@media screen and (min-width: 768px) {
    
}

/* ===============================================
    DESKTOP STYLES - 1024 SCREEN RESOLUTION
================================================ */

@media screen and (min-width: 1024px) {
    









